* {
    box-sizing: border-box;
}

/* HTML AND BODY */
html, body {
    margin: 0;
    font-family: 'Inter';
    font-size: 16px;
    background-color: #1C2128;
    color: white;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gold-txt {
    color: gold;
}

/* NAV */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav > h3 {
    font-size: 1rem;
    margin-left: 1em;
}

nav > .links-container {
    display: flex;
    gap: 2rem;
    margin-right: 1em;
    justify-content: space-between;
}

.links-container > a {
    text-decoration: none;
    color: silver;
    font-weight: 500;
    font-size: 0.9rem
}

.links-container > a:visited {
    text-decoration: none;
    color: silver;
}

/* MAIN */
main {
    margin: 3em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-container > h1 {
    margin: 0;
}

.description-txt {
    color: #F8F9FA;
    font-size: 0.85rem;
    margin-top: 0.3em;
}

main > a > button {
    width: 30%;
    border: 1px solid gold;
    background-color: gold;
    color: #1C2128;
    font-weight: 600;
    padding: 1em;
    cursor: pointer;
}

main > a > button:hover {
    background-color: #1C2128;
    color: white;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5em;
}

footer > p {
    margin: 0;
    font-size: 0.5rem;
}

/* Tablet Displays */
@media (min-width: 768px) {
    .text-container {
        max-width: 80%;
    }

    main > a > button {
        width: 20%;
    }

    main {
        margin-left: 2em;
    }
}

/* Desktop Screen Tablets */
@media (min-width: 1024px) {
    .text-container {
        max-width: 60%;
    }

    main > a > button {
        width: 20%;
    }

    main {
        margin-left: 2em;
    }
}